name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # يعمل من main فقط (الكود المصدر)
  workflow_dispatch:  # يسمح بتشغيل يدوي من GitHub

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.0'  # غيّر إلى إصدار Flutter لديك
          channel: 'stable'

      - name: Get dependencies
        run: flutter pub get

      - name: Build web
        run: flutter build web --base-href "/my_protofolio/"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
          cname: false
          keep_files: false  # يحذف الملفات القديمة
          force_orphan: true  # يبدأ branch جديد نظيف
